@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Nunito:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto:wght@300;400;500;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

        /*Versão MOBILE*/

nav{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #93a3a2;
    box-shadow: 0px 2px 11px -2px rgba(0,0,0,0.72);
}

nav h1{
    font-size: 26px;
}

li{
    /* border: 1px solid red; */
    list-style: none;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #4e687a;
    font-size: 18px;
}

nav a{
    text-decoration: none;
    color: #000;
}

section{
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
}

section h1{
    text-align: center;
    padding: 15px;
    margin-top: 5px;
}

section p{
    text-align: justify;
    padding: 20px;
    font-size: 18px;
}

section > div{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
}

section:nth-child(odd){
    background-color: #eeeeee;
}

section:nth-child(even){
    background-color: #d6d6d6;
}

.linha{
    width: 300px;
    margin: auto;
    border-bottom: 4px solid #455866;
    margin-bottom: 20px;
}

section > div img{
    width: 200px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.decimal .linha,
.binario .linha{
    width: 130px;
}

.hexadecimal .linha{
    width: 180px;
}

section h2{
    padding: 10px;
}

.exemplo img,
.binario img{
    width: 300px;
}

.mobile{
    display: block;
}

.desktop{
    display: none;
}

.conversor{
    padding: 10px 20px;
    font-weight: bold;
}

label{
    font-size: 20px;
    padding: 10px 0px;
}

input {
    padding: 5px;
    margin-top: 3px;
    margin-left: 2px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 200px;
}

button{
    padding: 5px;
    font-size: 16px;
    width: 100px;
    background-color: #7ca3be;
    border: 2px solid #30404b;
    border-radius: 5px;
    transition: all 0.5s;
}

button:active{
    transform: scale(0.95);
}

.btn{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #6f8392;
}

footer{
    text-align: center;
    padding: 20px;
    background-color:#93a3a2;
}

        /*Versão DESKTOP*/

@media screen and (min-width: 1000px){
    nav{
        padding-left: 30px;
        flex-direction: row;
        justify-content: space-between;
    }
    
    nav h1{
        font-size: 30px;
        transition: all 0.5s;
    }

    nav h1:hover{
        letter-spacing: 2px;
    }

    nav ul{
        display: flex;
        flex-direction: row;
    }

    nav li{
        font-size: 20px;
        margin: 5px;
        transition: all 0.5s;
    }

    li:hover{
        background-color: #4e687a;
        border-radius: 10px;
        cursor: pointer;
    }

    section > div{
        display: flex;
        flex-direction: row;
        padding: 20px 50px;
        /* border: 1px solid blue; */
    }
    
    section h1{
        margin-top: 20px;
        padding-bottom: 10px;
        font-size: 26px;
        /* border: 1px solid red; */
    }
    
    section p{
        /* font-size: 20px; */
        display: flex;
        align-items: center;
    }

    .linha{
        width: 350px;
        padding: 0px;
    }
    
    section > div img{
        width: 250px;
        padding-right: 20px;
    }

    section h2{
        padding-left: 30px;
    }

    .exemplo img{
        width: 500px;
        margin: 10px;
    }

    .binario .linha{
        width: 130px;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }

    .exemplo .desktop{
        width: 620px;
    }

    .conversor{
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    label{
        font-size: 24px;
        padding: 20px 10px;
    }
    
    input {
        padding: 10px;
        margin-bottom: 20px;
        font-size: 18px;
        width: 200px;
    }
    
    button{
        padding: 7px;
        font-size: 18px;
        width: 100px;
        
    }

    button:hover{
        background-color: #91bedf;
        cursor: pointer;
    }

    .conversor p{
        /* border: 2px solid black; */
        padding: 12px;
        margin-top: 5px;
    }

    .btn:hover{
        background-color: #85a1b6;
    }

}